<app-navbar></app-navbar>

<!-- overlay w/img + text + button -->
<div class="overlay">
    <p>" Accordez à votre voiture l'attention qu'elle mérite chez Parrot Automobile <br>où l'excellence mécanique rencontre le service exceptionnel "</p>
    <a routerLink="/occasions" class="btn btn-sm btn-primary btn-hover-darken">En savoir plus</a>
</div>

 <!-- ajout d'un titre avant la section cards -->
 <div class="container-fluid section1">
    <div class="row">
        <div class="col-12 col-md-4 order-1 order-md-1">
            <h1 class="section-title">Les prestations Parrot Automobile</h1>
        </div>
    </div>
</div>

<!-- 3 cards en grille sur les services -->
<div class="row justify-content-center">
    <!-- première carte -->
    <div class="col-12 col-md-4">
        <div class="card">
            <img src="/assets/carrosserie.png" class="card-img-top mx-auto" alt="service-carrosserie">
            <div class="card-body">
                <h5 class="card-title">Carrosserie</h5>
            </div>
        </div>
    </div>

    <!-- Deuxieme carte -->
    <div class="col-12 col-md-4">
        <div class="card">
            <img src="/assets/mecanique.png" class="card-img-top mx-auto" alt="service-mecanique">
            <div class="card-body">
                <h5 class="card-title">Réparation</h5>
            </div>
        </div>
    </div>

    <!-- Troisième carte -->
    <div class="col-12 col-md-4">
        <div class="card">
            <img src="/assets/entretien.png" class="card-img-top mx-auto" alt="service-entretien">
            <div class="card-body">
                <h5 class="card-title">Entretien</h5>
            </div>
        </div>
     </div>
</div>

<!-- Nouvelle rangée pour le bouton -->
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <a routerLink="/services" class="btn btn-sm btn-primary btn-hover-darken">Voir plus</a>
    </div>
</div>

<!-- ajout d'un titre après la section cards -->
<div class="container-fluid section2">
    <div class="row">
        <div class="col-12 col-md-4 order-1 order-md-1">
            <h1 class="section-title">Vos avis nous intéresse</h1>
        </div>
    </div>
</div>

<!-- AVIS CLIENT FICTIF -->
<div class="row justify-content-center">
    <!-- Première carte -->
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title2">Service Exceptionnel</h3>
                <p class="card-text">Je suis extrêmement satisfait du service offert par Parrot Automobile. 
                Leur équipe compétente a pris en charge rapidement la réparation de ma voiture, fournissant un service professionnel du début à la fin. Je recommande vivement!</p>
                <p class="card-name">J.Smith</p>
            </div>
            <div class="note position-absolute top-0 end-0 p-2">
                5/5
            </div>
        </div>
    </div>

    <!-- Deuxième carte -->
    <div class="col-12 col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title2">Rapidité et Efficacité</h3>
                <p class="card-text">Parrot Automobile m'a impressionné par la rapidité et l'efficacité de leur service. La réparation de mon véhicule a été effectuée dans les délais promis, et l'équipe était courtoise et professionnelle. 
                Je suis un client satisfait.</p>
                <p class="card-name text-left">O.Kim</p>
            </div>
            <div class="note position-absolute top-0 end-0 p-2">
                4.5/5
            </div>
        </div>
    </div>

    <!-- Troisième carte -->
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title2">Expérience en demi-teinte</h3>
                <p class="card-text">Ma récente visite chez Parrot Automobile a été mitigée. La réparation a pris plus de temps que prévu, ce qui a été un inconvénient. 
                J'apprécie leur service client, mais j'espère une amélioration dans les délais à l'avenir.</p>
                <p class="card-name text-left">T.García</p>
            </div>
            <div class="note position-absolute top-0 end-0 p-2">
                3.5/5
            </div>
        </div>
    </div>

     <!-- Section text en dessous des avis pour encourager à poster via notre formulaire -->
     <div class="container-fluid section3">
        <div class="row">
            <a routerLink="/" class="avis-form">"Votre opinion compte ! Partagez votre expérience avec nous en laissant un avis. 
                Votre retour est précieux pour nous améliorer et pour aider d'autres clients."</a>
        </div>
    </div>

<app-footer></app-footer>
