.navbar {
    background-color: #262526;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .navbar-nav li {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.9px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    margin: 0 40px;
  }
  
  .navbar-nav a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      display: none;
      flex-direction: column;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #262526;
    }
  
    .navbar-nav.show {
      display: flex;
    }
  
    .navbar-nav li {
      margin: 10px;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .bar {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 5px 0;
    }
  }